@section Styles {
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Bạn đã lướt hết cả Internet rồi</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Trang chủ</a>
    </div>
</div>
