@model CourseSection

@{
    ViewData["Title"] = "Xóa mục";
}

<h3>Bạn có muốn xóa mục này?</h3>
<div>
    <h4>@Model.Title</h4>
    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a asp-action="Details" asp-controller="Courses" asp-route-id="@Model.CourseId" class="btn btn-secondary">Hủy</a>
    </form>
</div>